body {
  background-color: #B6BFAF;
  text-align: center;
  font-family: 'Aboreto', serif;
  color: #2b3823;
}
img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: block;
  margin: 20px auto;
}
