body {
  background-color: powderblue;
  text-align: center;
  font-family: 'Aboreto', serif;
  color: #4a6a7f;
}
img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: block;
  margin: 20px auto;
}
